<% include partials/landingHeader %>

<div class="container">
        <!--<img src="images/irene-davila-45777-edit.png" width="75%" height="75%" id="leftImage" />-->
        <div id="landing-header">
            <h1>Haakim Roberts</h1>
        <p id="links">
            <a class="btn btn-primary" href="/projects"><span class="glyphicon glyphicon-console" aria-hidden="true"></span>   Projects</span></a>
            <a class="btn btn-primary" href="https://immense-atoll-12526.herokuapp.com/"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>   Photos(Offsite)</a>
            <!--<a href="">Bio</a>-->
        </p>
        <p>
            Developer. Photographer. Wecome to my website! If you have any questions please contact me
        </p>
        <br />
        </div>
      </div>
</div>

<% include partials/footer %>