body {
    background: #dae2ef;
    font-family: 'Poppins', serif;
}
#projImage1 {
    border: solid black;
    padding-bottom: 5%;
}
#projImage2 {
    border: 2px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}
#projImage3 {
    border: solid black;
    padding-top: 5%;
}
.delete-form{
    display: inline;
}
.delete-project-form{
    display: inline;
    margin-left: 61%;
}
.formContainer {
	width: 30%; 
	margin: 30px auto;
}
.newText {
    color: white;
    text-align: center;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
.welcome {
    color: white;
    text-align: center;
    align-items: center;
}